In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Hello World\n"
     ]
    }
   ],
   "source": [
    "print(\"Hello World\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Step 1 Data Exploration & Leading**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [],
   "source": [
    "#importing dependencies\n",
    "\n",
    "import pandas as pd\n",
    "\n",
    "#mysql toolkit\n",
    "import pymysql #this will work as adapter\n",
    "from sqlalchemy import create_engine\n",
    "\n",
    "#psql\n",
    "import psycopg2"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "2.2.3\n"
     ]
    }
   ],
   "source": [
    "print(pd.__version__)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(10051, 11)"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df = pd.read_csv('Walmart.csv', encoding_errors='ignore')\n",
    "\n",
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>invoice_id</th>\n",
       "      <th>Branch</th>\n",
       "      <th>City</th>\n",
       "      <th>category</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>quantity</th>\n",
       "      <th>date</th>\n",
       "      <th>time</th>\n",
       "      <th>payment_method</th>\n",
       "      <th>rating</th>\n",
       "      <th>profit_margin</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>WALM003</td>\n",
       "      <td>San Antonio</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>$74.69</td>\n",
       "      <td>7.0</td>\n",
       "      <td>05/01/19</td>\n",
       "      <td>13:08:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>9.1</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>WALM048</td>\n",
       "      <td>Harlingen</td>\n",
       "      <td>Electronic accessories</td>\n",
       "      <td>$15.28</td>\n",
       "      <td>5.0</td>\n",
       "      <td>08/03/19</td>\n",
       "      <td>10:29:00</td>\n",
       "      <td>Cash</td>\n",
       "      <td>9.6</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3</td>\n",
       "      <td>WALM067</td>\n",
       "      <td>Haltom City</td>\n",
       "      <td>Home and lifestyle</td>\n",
       "      <td>$46.33</td>\n",
       "      <td>7.0</td>\n",
       "      <td>03/03/19</td>\n",
       "      <td>13:23:00</td>\n",
       "      <td>Credit card</td>\n",
       "      <td>7.4</td>\n",
       "      <td>0.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>4</td>\n",
       "      <td>WALM064</td>\n",
       "      <td>Bedford</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>$58.22</td>\n",
       "      <td>8.0</td>\n",
       "      <td>27/01/19</td>\n",
       "      <td>20:33:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>8.4</td>\n",
       "      <td>0.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>WALM013</td>\n",
       "      <td>Irving</td>\n",
       "      <td>Sports and travel</td>\n",
       "      <td>$86.31</td>\n",
       "      <td>7.0</td>\n",
       "      <td>08/02/19</td>\n",
       "      <td>10:37:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>5.3</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   invoice_id   Branch         City                category unit_price  \\\n",
       "0           1  WALM003  San Antonio       Health and beauty     $74.69   \n",
       "1           2  WALM048    Harlingen  Electronic accessories     $15.28   \n",
       "2           3  WALM067  Haltom City      Home and lifestyle     $46.33   \n",
       "3           4  WALM064      Bedford       Health and beauty     $58.22   \n",
       "4           5  WALM013       Irving       Sports and travel     $86.31   \n",
       "\n",
       "   quantity      date      time payment_method  rating  profit_margin  \n",
       "0       7.0  05/01/19  13:08:00        Ewallet     9.1           0.48  \n",
       "1       5.0  08/03/19  10:29:00           Cash     9.6           0.48  \n",
       "2       7.0  03/03/19  13:23:00    Credit card     7.4           0.33  \n",
       "3       8.0  27/01/19  20:33:00        Ewallet     8.4           0.33  \n",
       "4       7.0  08/02/19  10:37:00        Ewallet     5.3           0.48  "
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>invoice_id</th>\n",
       "      <th>quantity</th>\n",
       "      <th>rating</th>\n",
       "      <th>profit_margin</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>10051.000000</td>\n",
       "      <td>10020.000000</td>\n",
       "      <td>10051.000000</td>\n",
       "      <td>10051.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>5025.741220</td>\n",
       "      <td>2.353493</td>\n",
       "      <td>5.825659</td>\n",
       "      <td>0.393791</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>2901.174372</td>\n",
       "      <td>1.602658</td>\n",
       "      <td>1.763991</td>\n",
       "      <td>0.090669</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>1.000000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>3.000000</td>\n",
       "      <td>0.180000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>2513.500000</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>4.000000</td>\n",
       "      <td>0.330000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>5026.000000</td>\n",
       "      <td>2.000000</td>\n",
       "      <td>6.000000</td>\n",
       "      <td>0.330000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>7538.500000</td>\n",
       "      <td>3.000000</td>\n",
       "      <td>7.000000</td>\n",
       "      <td>0.480000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>10000.000000</td>\n",
       "      <td>10.000000</td>\n",
       "      <td>10.000000</td>\n",
       "      <td>0.570000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         invoice_id      quantity        rating  profit_margin\n",
       "count  10051.000000  10020.000000  10051.000000   10051.000000\n",
       "mean    5025.741220      2.353493      5.825659       0.393791\n",
       "std     2901.174372      1.602658      1.763991       0.090669\n",
       "min        1.000000      1.000000      3.000000       0.180000\n",
       "25%     2513.500000      1.000000      4.000000       0.330000\n",
       "50%     5026.000000      2.000000      6.000000       0.330000\n",
       "75%     7538.500000      3.000000      7.000000       0.480000\n",
       "max    10000.000000     10.000000     10.000000       0.570000"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.describe()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 10051 entries, 0 to 10050\n",
      "Data columns (total 11 columns):\n",
      " #   Column          Non-Null Count  Dtype  \n",
      "---  ------          --------------  -----  \n",
      " 0   invoice_id      10051 non-null  int64  \n",
      " 1   Branch          10051 non-null  object \n",
      " 2   City            10051 non-null  object \n",
      " 3   category        10051 non-null  object \n",
      " 4   unit_price      10020 non-null  object \n",
      " 5   quantity        10020 non-null  float64\n",
      " 6   date            10051 non-null  object \n",
      " 7   time            10051 non-null  object \n",
      " 8   payment_method  10051 non-null  object \n",
      " 9   rating          10051 non-null  float64\n",
      " 10  profit_margin   10051 non-null  float64\n",
      "dtypes: float64(3), int64(1), object(7)\n",
      "memory usage: 863.9+ KB\n"
     ]
    }
   ],
   "source": [
    "df.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "np.int64(51)"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#all duplicates\n",
    "df.duplicated().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "np.int64(0)"
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.drop_duplicates(inplace=True)\n",
    "df.duplicated().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(10000, 11)"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "invoice_id         0\n",
       "Branch             0\n",
       "City               0\n",
       "category           0\n",
       "unit_price        31\n",
       "quantity          31\n",
       "date               0\n",
       "time               0\n",
       "payment_method     0\n",
       "rating             0\n",
       "profit_margin      0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 12,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.isnull().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "invoice_id        0\n",
       "Branch            0\n",
       "City              0\n",
       "category          0\n",
       "unit_price        0\n",
       "quantity          0\n",
       "date              0\n",
       "time              0\n",
       "payment_method    0\n",
       "rating            0\n",
       "profit_margin     0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#droppping all rows with missing records\n",
    "df.dropna(inplace=True)\n",
    "\n",
    "# verify\n",
    "df.isnull().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(9969, 11)"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "invoice_id          int64\n",
       "Branch             object\n",
       "City               object\n",
       "category           object\n",
       "unit_price         object\n",
       "quantity          float64\n",
       "date               object\n",
       "time               object\n",
       "payment_method     object\n",
       "rating            float64\n",
       "profit_margin     float64\n",
       "dtype: object"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.dtypes"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "df['unit_price'].astype(float)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>invoice_id</th>\n",
       "      <th>branch</th>\n",
       "      <th>city</th>\n",
       "      <th>category</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>quantity</th>\n",
       "      <th>date</th>\n",
       "      <th>time</th>\n",
       "      <th>payment_method</th>\n",
       "      <th>rating</th>\n",
       "      <th>profit_margin</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>WALM003</td>\n",
       "      <td>San Antonio</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>74.69</td>\n",
       "      <td>7.0</td>\n",
       "      <td>05/01/19</td>\n",
       "      <td>13:08:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>9.1</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>WALM048</td>\n",
       "      <td>Harlingen</td>\n",
       "      <td>Electronic accessories</td>\n",
       "      <td>15.28</td>\n",
       "      <td>5.0</td>\n",
       "      <td>08/03/19</td>\n",
       "      <td>10:29:00</td>\n",
       "      <td>Cash</td>\n",
       "      <td>9.6</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3</td>\n",
       "      <td>WALM067</td>\n",
       "      <td>Haltom City</td>\n",
       "      <td>Home and lifestyle</td>\n",
       "      <td>46.33</td>\n",
       "      <td>7.0</td>\n",
       "      <td>03/03/19</td>\n",
       "      <td>13:23:00</td>\n",
       "      <td>Credit card</td>\n",
       "      <td>7.4</td>\n",
       "      <td>0.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>4</td>\n",
       "      <td>WALM064</td>\n",
       "      <td>Bedford</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>58.22</td>\n",
       "      <td>8.0</td>\n",
       "      <td>27/01/19</td>\n",
       "      <td>20:33:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>8.4</td>\n",
       "      <td>0.33</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>WALM013</td>\n",
       "      <td>Irving</td>\n",
       "      <td>Sports and travel</td>\n",
       "      <td>86.31</td>\n",
       "      <td>7.0</td>\n",
       "      <td>08/02/19</td>\n",
       "      <td>10:37:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>5.3</td>\n",
       "      <td>0.48</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   invoice_id   branch         city                category  unit_price  \\\n",
       "0           1  WALM003  San Antonio       Health and beauty       74.69   \n",
       "1           2  WALM048    Harlingen  Electronic accessories       15.28   \n",
       "2           3  WALM067  Haltom City      Home and lifestyle       46.33   \n",
       "3           4  WALM064      Bedford       Health and beauty       58.22   \n",
       "4           5  WALM013       Irving       Sports and travel       86.31   \n",
       "\n",
       "   quantity      date      time payment_method  rating  profit_margin  \n",
       "0       7.0  05/01/19  13:08:00        Ewallet     9.1           0.48  \n",
       "1       5.0  08/03/19  10:29:00           Cash     9.6           0.48  \n",
       "2       7.0  03/03/19  13:23:00    Credit card     7.4           0.33  \n",
       "3       8.0  27/01/19  20:33:00        Ewallet     8.4           0.33  \n",
       "4       7.0  08/02/19  10:37:00        Ewallet     5.3           0.48  "
      ]
     },
     "execution_count": 110,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)\n",
    "\n",
    "df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Index: 9969 entries, 0 to 9999\n",
      "Data columns (total 11 columns):\n",
      " #   Column          Non-Null Count  Dtype  \n",
      "---  ------          --------------  -----  \n",
      " 0   invoice_id      9969 non-null   int64  \n",
      " 1   Branch          9969 non-null   object \n",
      " 2   City            9969 non-null   object \n",
      " 3   category        9969 non-null   object \n",
      " 4   unit_price      9969 non-null   float64\n",
      " 5   quantity        9969 non-null   float64\n",
      " 6   date            9969 non-null   object \n",
      " 7   time            9969 non-null   object \n",
      " 8   payment_method  9969 non-null   object \n",
      " 9   rating          9969 non-null   float64\n",
      " 10  profit_margin   9969 non-null   float64\n",
      "dtypes: float64(4), int64(1), object(6)\n",
      "memory usage: 934.6+ KB\n"
     ]
    }
   ],
   "source": [
    "df.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',\n",
       "       'date', 'time', 'payment_method', 'rating', 'profit_margin'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 29,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>invoice_id</th>\n",
       "      <th>branch</th>\n",
       "      <th>city</th>\n",
       "      <th>category</th>\n",
       "      <th>unit_price</th>\n",
       "      <th>quantity</th>\n",
       "      <th>date</th>\n",
       "      <th>time</th>\n",
       "      <th>payment_method</th>\n",
       "      <th>rating</th>\n",
       "      <th>profit_margin</th>\n",
       "      <th>total</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>WALM003</td>\n",
       "      <td>San Antonio</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>74.69</td>\n",
       "      <td>7.0</td>\n",
       "      <td>05/01/19</td>\n",
       "      <td>13:08:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>9.1</td>\n",
       "      <td>0.48</td>\n",
       "      <td>522.83</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>WALM048</td>\n",
       "      <td>Harlingen</td>\n",
       "      <td>Electronic accessories</td>\n",
       "      <td>15.28</td>\n",
       "      <td>5.0</td>\n",
       "      <td>08/03/19</td>\n",
       "      <td>10:29:00</td>\n",
       "      <td>Cash</td>\n",
       "      <td>9.6</td>\n",
       "      <td>0.48</td>\n",
       "      <td>76.40</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3</td>\n",
       "      <td>WALM067</td>\n",
       "      <td>Haltom City</td>\n",
       "      <td>Home and lifestyle</td>\n",
       "      <td>46.33</td>\n",
       "      <td>7.0</td>\n",
       "      <td>03/03/19</td>\n",
       "      <td>13:23:00</td>\n",
       "      <td>Credit card</td>\n",
       "      <td>7.4</td>\n",
       "      <td>0.33</td>\n",
       "      <td>324.31</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>4</td>\n",
       "      <td>WALM064</td>\n",
       "      <td>Bedford</td>\n",
       "      <td>Health and beauty</td>\n",
       "      <td>58.22</td>\n",
       "      <td>8.0</td>\n",
       "      <td>27/01/19</td>\n",
       "      <td>20:33:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>8.4</td>\n",
       "      <td>0.33</td>\n",
       "      <td>465.76</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>WALM013</td>\n",
       "      <td>Irving</td>\n",
       "      <td>Sports and travel</td>\n",
       "      <td>86.31</td>\n",
       "      <td>7.0</td>\n",
       "      <td>08/02/19</td>\n",
       "      <td>10:37:00</td>\n",
       "      <td>Ewallet</td>\n",
       "      <td>5.3</td>\n",
       "      <td>0.48</td>\n",
       "      <td>604.17</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   invoice_id   branch         city                category  unit_price  \\\n",
       "0           1  WALM003  San Antonio       Health and beauty       74.69   \n",
       "1           2  WALM048    Harlingen  Electronic accessories       15.28   \n",
       "2           3  WALM067  Haltom City      Home and lifestyle       46.33   \n",
       "3           4  WALM064      Bedford       Health and beauty       58.22   \n",
       "4           5  WALM013       Irving       Sports and travel       86.31   \n",
       "\n",
       "   quantity      date      time payment_method  rating  profit_margin   total  \n",
       "0       7.0  05/01/19  13:08:00        Ewallet     9.1           0.48  522.83  \n",
       "1       5.0  08/03/19  10:29:00           Cash     9.6           0.48   76.40  \n",
       "2       7.0  03/03/19  13:23:00    Credit card     7.4           0.33  324.31  \n",
       "3       8.0  27/01/19  20:33:00        Ewallet     8.4           0.33  465.76  \n",
       "4       7.0  08/02/19  10:37:00        Ewallet     5.3           0.48  604.17  "
      ]
     },
     "execution_count": 111,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df['total'] = df['unit_price'] * df['quantity']\n",
    "df.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "**Fixing the column name to lower case**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',\n",
       "       'date', 'time', 'payment_method', 'rating', 'profit_margin'],\n",
       "      dtype='object')"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "df.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',\n",
       "       'date', 'time', 'payment_method', 'rating', 'profit_margin'],\n",
       "      dtype='object')"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "df.columns = df.columns.str.lower()\n",
    "df.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# mysql \n",
    "# host = localhost\n",
    "# port = 3306\n",
    "# user = root\n",
    "# password = 'your_password'\n",
    "\n",
    "# psql\n",
    "# host = localhost\n",
    "# port = 5432\n",
    "# user = postgres\n",
    "# password = 'x0000'"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(9969, 12)"
      ]
     },
     "execution_count": 36,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "df.to_csv('walmart_clean_data.csv', index=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Help on function create_engine in module sqlalchemy.engine.create:\n",
      "\n",
      "create_engine(url: 'Union[str, _url.URL]', **kwargs: 'Any') -> 'Engine'\n",
      "    Create a new :class:`_engine.Engine` instance.\n",
      "\n",
      "    The standard calling form is to send the :ref:`URL <database_urls>` as the\n",
      "    first positional argument, usually a string\n",
      "    that indicates database dialect and connection arguments::\n",
      "\n",
      "        engine = create_engine(\"postgresql+psycopg2://scott:tiger@localhost/test\")\n",
      "\n",
      "    .. note::\n",
      "\n",
      "        Please review :ref:`database_urls` for general guidelines in composing\n",
      "        URL strings.  In particular, special characters, such as those often\n",
      "        part of passwords, must be URL encoded to be properly parsed.\n",
      "\n",
      "    Additional keyword arguments may then follow it which\n",
      "    establish various options on the resulting :class:`_engine.Engine`\n",
      "    and its underlying :class:`.Dialect` and :class:`_pool.Pool`\n",
      "    constructs::\n",
      "\n",
      "        engine = create_engine(\"mysql+mysqldb://scott:tiger@hostname/dbname\",\n",
      "                                    pool_recycle=3600, echo=True)\n",
      "\n",
      "    The string form of the URL is\n",
      "    ``dialect[+driver]://user:password@host/dbname[?key=value..]``, where\n",
      "    ``dialect`` is a database name such as ``mysql``, ``oracle``,\n",
      "    ``postgresql``, etc., and ``driver`` the name of a DBAPI, such as\n",
      "    ``psycopg2``, ``pyodbc``, ``cx_oracle``, etc.  Alternatively,\n",
      "    the URL can be an instance of :class:`~sqlalchemy.engine.url.URL`.\n",
      "\n",
      "    ``**kwargs`` takes a wide variety of options which are routed\n",
      "    towards their appropriate components.  Arguments may be specific to\n",
      "    the :class:`_engine.Engine`, the underlying :class:`.Dialect`,\n",
      "    as well as the\n",
      "    :class:`_pool.Pool`.  Specific dialects also accept keyword arguments that\n",
      "    are unique to that dialect.   Here, we describe the parameters\n",
      "    that are common to most :func:`_sa.create_engine()` usage.\n",
      "\n",
      "    Once established, the newly resulting :class:`_engine.Engine` will\n",
      "    request a connection from the underlying :class:`_pool.Pool` once\n",
      "    :meth:`_engine.Engine.connect` is called, or a method which depends on it\n",
      "    such as :meth:`_engine.Engine.execute` is invoked.   The\n",
      "    :class:`_pool.Pool` in turn\n",
      "    will establish the first actual DBAPI connection when this request\n",
      "    is received.   The :func:`_sa.create_engine` call itself does **not**\n",
      "    establish any actual DBAPI connections directly.\n",
      "\n",
      "    .. seealso::\n",
      "\n",
      "        :doc:`/core/engines`\n",
      "\n",
      "        :doc:`/dialects/index`\n",
      "\n",
      "        :ref:`connections_toplevel`\n",
      "\n",
      "    :param connect_args: a dictionary of options which will be\n",
      "        passed directly to the DBAPI's ``connect()`` method as\n",
      "        additional keyword arguments.  See the example\n",
      "        at :ref:`custom_dbapi_args`.\n",
      "\n",
      "    :param creator: a callable which returns a DBAPI connection.\n",
      "        This creation function will be passed to the underlying\n",
      "        connection pool and will be used to create all new database\n",
      "        connections. Usage of this function causes connection\n",
      "        parameters specified in the URL argument to be bypassed.\n",
      "\n",
      "        This hook is not as flexible as the newer\n",
      "        :meth:`_events.DialectEvents.do_connect` hook which allows complete\n",
      "        control over how a connection is made to the database, given the full\n",
      "        set of URL arguments and state beforehand.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :meth:`_events.DialectEvents.do_connect` - event hook that allows\n",
      "            full control over DBAPI connection mechanics.\n",
      "\n",
      "            :ref:`custom_dbapi_args`\n",
      "\n",
      "    :param echo=False: if True, the Engine will log all statements\n",
      "        as well as a ``repr()`` of their parameter lists to the default log\n",
      "        handler, which defaults to ``sys.stdout`` for output.   If set to the\n",
      "        string ``\"debug\"``, result rows will be printed to the standard output\n",
      "        as well. The ``echo`` attribute of ``Engine`` can be modified at any\n",
      "        time to turn logging on and off; direct control of logging is also\n",
      "        available using the standard Python ``logging`` module.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`dbengine_logging` - further detail on how to configure\n",
      "            logging.\n",
      "\n",
      "\n",
      "    :param echo_pool=False: if True, the connection pool will log\n",
      "        informational output such as when connections are invalidated\n",
      "        as well as when connections are recycled to the default log handler,\n",
      "        which defaults to ``sys.stdout`` for output.   If set to the string\n",
      "        ``\"debug\"``, the logging will include pool checkouts and checkins.\n",
      "        Direct control of logging is also available using the standard Python\n",
      "        ``logging`` module.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`dbengine_logging` - further detail on how to configure\n",
      "            logging.\n",
      "\n",
      "\n",
      "    :param empty_in_strategy:   No longer used; SQLAlchemy now uses\n",
      "        \"empty set\" behavior for IN in all cases.\n",
      "\n",
      "        .. deprecated:: 1.4 The :paramref:`_sa.create_engine.empty_in_strategy` keyword is deprecated, and no longer has any effect.  All IN expressions are now rendered using the \"expanding parameter\" strategy which renders a set of boundexpressions, or an \"empty set\" SELECT, at statement executiontime.\n",
      "\n",
      "\n",
      "\n",
      "    :param enable_from_linting: defaults to True.  Will emit a warning\n",
      "        if a given SELECT statement is found to have un-linked FROM elements\n",
      "        which would cause a cartesian product.\n",
      "\n",
      "        .. versionadded:: 1.4\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`change_4737`\n",
      "\n",
      "    :param execution_options: Dictionary execution options which will\n",
      "        be applied to all connections.  See\n",
      "        :meth:`~sqlalchemy.engine.Connection.execution_options`\n",
      "\n",
      "    :param future: Use the 2.0 style :class:`_engine.Engine` and\n",
      "        :class:`_engine.Connection` API.\n",
      "\n",
      "        As of SQLAlchemy 2.0, this parameter is present for backwards\n",
      "        compatibility only and must remain at its default value of ``True``.\n",
      "\n",
      "        The :paramref:`_sa.create_engine.future` parameter will be\n",
      "        deprecated in a subsequent 2.x release and eventually removed.\n",
      "\n",
      "        .. versionadded:: 1.4\n",
      "\n",
      "        .. versionchanged:: 2.0 All :class:`_engine.Engine` objects are\n",
      "           \"future\" style engines and there is no longer a ``future=False``\n",
      "           mode of operation.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`migration_20_toplevel`\n",
      "\n",
      "    :param hide_parameters: Boolean, when set to True, SQL statement parameters\n",
      "        will not be displayed in INFO logging nor will they be formatted into\n",
      "        the string representation of :class:`.StatementError` objects.\n",
      "\n",
      "        .. versionadded:: 1.3.8\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`dbengine_logging` - further detail on how to configure\n",
      "            logging.\n",
      "\n",
      "    :param implicit_returning=True:  Legacy parameter that may only be set\n",
      "        to True. In SQLAlchemy 2.0, this parameter does nothing. In order to\n",
      "        disable \"implicit returning\" for statements invoked by the ORM,\n",
      "        configure this on a per-table basis using the\n",
      "        :paramref:`.Table.implicit_returning` parameter.\n",
      "\n",
      "\n",
      "    :param insertmanyvalues_page_size: number of rows to format into an\n",
      "     INSERT statement when the statement uses \"insertmanyvalues\" mode, which is\n",
      "     a paged form of bulk insert that is used for many backends when using\n",
      "     :term:`executemany` execution typically in conjunction with RETURNING.\n",
      "     Defaults to 1000, but may also be subject to dialect-specific limiting\n",
      "     factors which may override this value on a per-statement basis.\n",
      "\n",
      "     .. versionadded:: 2.0\n",
      "\n",
      "     .. seealso::\n",
      "\n",
      "        :ref:`engine_insertmanyvalues`\n",
      "\n",
      "        :ref:`engine_insertmanyvalues_page_size`\n",
      "\n",
      "        :paramref:`_engine.Connection.execution_options.insertmanyvalues_page_size`\n",
      "\n",
      "    :param isolation_level: optional string name of an isolation level\n",
      "        which will be set on all new connections unconditionally.\n",
      "        Isolation levels are typically some subset of the string names\n",
      "        ``\"SERIALIZABLE\"``, ``\"REPEATABLE READ\"``,\n",
      "        ``\"READ COMMITTED\"``, ``\"READ UNCOMMITTED\"`` and ``\"AUTOCOMMIT\"``\n",
      "        based on backend.\n",
      "\n",
      "        The :paramref:`_sa.create_engine.isolation_level` parameter is\n",
      "        in contrast to the\n",
      "        :paramref:`.Connection.execution_options.isolation_level`\n",
      "        execution option, which may be set on an individual\n",
      "        :class:`.Connection`, as well as the same parameter passed to\n",
      "        :meth:`.Engine.execution_options`, where it may be used to create\n",
      "        multiple engines with different isolation levels that share a common\n",
      "        connection pool and dialect.\n",
      "\n",
      "        .. versionchanged:: 2.0 The\n",
      "           :paramref:`_sa.create_engine.isolation_level`\n",
      "           parameter has been generalized to work on all dialects which support\n",
      "           the concept of isolation level, and is provided as a more succinct,\n",
      "           up front configuration switch in contrast to the execution option\n",
      "           which is more of an ad-hoc programmatic option.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`dbapi_autocommit`\n",
      "\n",
      "    :param json_deserializer: for dialects that support the\n",
      "        :class:`_types.JSON`\n",
      "        datatype, this is a Python callable that will convert a JSON string\n",
      "        to a Python object.  By default, the Python ``json.loads`` function is\n",
      "        used.\n",
      "\n",
      "        .. versionchanged:: 1.3.7  The SQLite dialect renamed this from\n",
      "           ``_json_deserializer``.\n",
      "\n",
      "    :param json_serializer: for dialects that support the :class:`_types.JSON`\n",
      "        datatype, this is a Python callable that will render a given object\n",
      "        as JSON.   By default, the Python ``json.dumps`` function is used.\n",
      "\n",
      "        .. versionchanged:: 1.3.7  The SQLite dialect renamed this from\n",
      "           ``_json_serializer``.\n",
      "\n",
      "\n",
      "    :param label_length=None: optional integer value which limits\n",
      "        the size of dynamically generated column labels to that many\n",
      "        characters. If less than 6, labels are generated as\n",
      "        \"_(counter)\". If ``None``, the value of\n",
      "        ``dialect.max_identifier_length``, which may be affected via the\n",
      "        :paramref:`_sa.create_engine.max_identifier_length` parameter,\n",
      "        is used instead.   The value of\n",
      "        :paramref:`_sa.create_engine.label_length`\n",
      "        may not be larger than that of\n",
      "        :paramref:`_sa.create_engine.max_identfier_length`.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :paramref:`_sa.create_engine.max_identifier_length`\n",
      "\n",
      "    :param logging_name:  String identifier which will be used within\n",
      "        the \"name\" field of logging records generated within the\n",
      "        \"sqlalchemy.engine\" logger. Defaults to a hexstring of the\n",
      "        object's id.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`dbengine_logging` - further detail on how to configure\n",
      "            logging.\n",
      "\n",
      "            :paramref:`_engine.Connection.execution_options.logging_token`\n",
      "\n",
      "    :param max_identifier_length: integer; override the max_identifier_length\n",
      "        determined by the dialect.  if ``None`` or zero, has no effect.  This\n",
      "        is the database's configured maximum number of characters that may be\n",
      "        used in a SQL identifier such as a table name, column name, or label\n",
      "        name. All dialects determine this value automatically, however in the\n",
      "        case of a new database version for which this value has changed but\n",
      "        SQLAlchemy's dialect has not been adjusted, the value may be passed\n",
      "        here.\n",
      "\n",
      "        .. versionadded:: 1.3.9\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :paramref:`_sa.create_engine.label_length`\n",
      "\n",
      "    :param max_overflow=10: the number of connections to allow in\n",
      "        connection pool \"overflow\", that is connections that can be\n",
      "        opened above and beyond the pool_size setting, which defaults\n",
      "        to five. this is only used with :class:`~sqlalchemy.pool.QueuePool`.\n",
      "\n",
      "    :param module=None: reference to a Python module object (the module\n",
      "        itself, not its string name).  Specifies an alternate DBAPI module to\n",
      "        be used by the engine's dialect.  Each sub-dialect references a\n",
      "        specific DBAPI which will be imported before first connect.  This\n",
      "        parameter causes the import to be bypassed, and the given module to\n",
      "        be used instead. Can be used for testing of DBAPIs as well as to\n",
      "        inject \"mock\" DBAPI implementations into the :class:`_engine.Engine`.\n",
      "\n",
      "    :param paramstyle=None: The `paramstyle <https://legacy.python.org/dev/peps/pep-0249/#paramstyle>`_\n",
      "        to use when rendering bound parameters.  This style defaults to the\n",
      "        one recommended by the DBAPI itself, which is retrieved from the\n",
      "        ``.paramstyle`` attribute of the DBAPI.  However, most DBAPIs accept\n",
      "        more than one paramstyle, and in particular it may be desirable\n",
      "        to change a \"named\" paramstyle into a \"positional\" one, or vice versa.\n",
      "        When this attribute is passed, it should be one of the values\n",
      "        ``\"qmark\"``, ``\"numeric\"``, ``\"named\"``, ``\"format\"`` or\n",
      "        ``\"pyformat\"``, and should correspond to a parameter style known\n",
      "        to be supported by the DBAPI in use.\n",
      "\n",
      "    :param pool=None: an already-constructed instance of\n",
      "        :class:`~sqlalchemy.pool.Pool`, such as a\n",
      "        :class:`~sqlalchemy.pool.QueuePool` instance. If non-None, this\n",
      "        pool will be used directly as the underlying connection pool\n",
      "        for the engine, bypassing whatever connection parameters are\n",
      "        present in the URL argument. For information on constructing\n",
      "        connection pools manually, see :ref:`pooling_toplevel`.\n",
      "\n",
      "    :param poolclass=None: a :class:`~sqlalchemy.pool.Pool`\n",
      "        subclass, which will be used to create a connection pool\n",
      "        instance using the connection parameters given in the URL. Note\n",
      "        this differs from ``pool`` in that you don't actually\n",
      "        instantiate the pool in this case, you just indicate what type\n",
      "        of pool to be used.\n",
      "\n",
      "    :param pool_logging_name:  String identifier which will be used within\n",
      "       the \"name\" field of logging records generated within the\n",
      "       \"sqlalchemy.pool\" logger. Defaults to a hexstring of the object's\n",
      "       id.\n",
      "\n",
      "       .. seealso::\n",
      "\n",
      "            :ref:`dbengine_logging` - further detail on how to configure\n",
      "            logging.\n",
      "\n",
      "    :param pool_pre_ping: boolean, if True will enable the connection pool\n",
      "        \"pre-ping\" feature that tests connections for liveness upon\n",
      "        each checkout.\n",
      "\n",
      "        .. versionadded:: 1.2\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`pool_disconnects_pessimistic`\n",
      "\n",
      "    :param pool_size=5: the number of connections to keep open\n",
      "        inside the connection pool. This used with\n",
      "        :class:`~sqlalchemy.pool.QueuePool` as\n",
      "        well as :class:`~sqlalchemy.pool.SingletonThreadPool`.  With\n",
      "        :class:`~sqlalchemy.pool.QueuePool`, a ``pool_size`` setting\n",
      "        of 0 indicates no limit; to disable pooling, set ``poolclass`` to\n",
      "        :class:`~sqlalchemy.pool.NullPool` instead.\n",
      "\n",
      "    :param pool_recycle=-1: this setting causes the pool to recycle\n",
      "        connections after the given number of seconds has passed. It\n",
      "        defaults to -1, or no timeout. For example, setting to 3600\n",
      "        means connections will be recycled after one hour. Note that\n",
      "        MySQL in particular will disconnect automatically if no\n",
      "        activity is detected on a connection for eight hours (although\n",
      "        this is configurable with the MySQLDB connection itself and the\n",
      "        server configuration as well).\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`pool_setting_recycle`\n",
      "\n",
      "    :param pool_reset_on_return='rollback': set the\n",
      "        :paramref:`_pool.Pool.reset_on_return` parameter of the underlying\n",
      "        :class:`_pool.Pool` object, which can be set to the values\n",
      "        ``\"rollback\"``, ``\"commit\"``, or ``None``.\n",
      "\n",
      "        .. seealso::\n",
      "\n",
      "            :ref:`pool_reset_on_return`\n",
      "\n",
      "    :param pool_timeout=30: number of seconds to wait before giving\n",
      "        up on getting a connection from the pool. This is only used\n",
      "        with :class:`~sqlalchemy.pool.QueuePool`. This can be a float but is\n",
      "        subject to the limitations of Python time functions which may not be\n",
      "        reliable in the tens of milliseconds.\n",
      "\n",
      "        .. note: don't use 30.0 above, it seems to break with the :param tag\n",
      "\n",
      "    :param pool_use_lifo=False: use LIFO (last-in-first-out) when retrieving\n",
      "        connections from :class:`.QueuePool` instead of FIFO\n",
      "        (first-in-first-out). Using LIFO, a server-side timeout scheme can\n",
      "        reduce the number of connections used during non- peak   periods of\n",
      "        use.   When planning for server-side timeouts, ensure that a recycle or\n",
      "        pre-ping strategy is in use to gracefully   handle stale connections.\n",
      "\n",
      "          .. versionadded:: 1.3\n",
      "\n",
      "          .. seealso::\n",
      "\n",
      "            :ref:`pool_use_lifo`\n",
      "\n",
      "            :ref:`pool_disconnects`\n",
      "\n",
      "    :param plugins: string list of plugin names to load.  See\n",
      "        :class:`.CreateEnginePlugin` for background.\n",
      "\n",
      "        .. versionadded:: 1.2.3\n",
      "\n",
      "    :param query_cache_size: size of the cache used to cache the SQL string\n",
      "     form of queries.  Set to zero to disable caching.\n",
      "\n",
      "     The cache is pruned of its least recently used items when its size reaches\n",
      "     N * 1.5.  Defaults to 500, meaning the cache will always store at least\n",
      "     500 SQL statements when filled, and will grow up to 750 items at which\n",
      "     point it is pruned back down to 500 by removing the 250 least recently\n",
      "     used items.\n",
      "\n",
      "     Caching is accomplished on a per-statement basis by generating a\n",
      "     cache key that represents the statement's structure, then generating\n",
      "     string SQL for the current dialect only if that key is not present\n",
      "     in the cache.   All statements support caching, however some features\n",
      "     such as an INSERT with a large set of parameters will intentionally\n",
      "     bypass the cache.   SQL logging will indicate statistics for each\n",
      "     statement whether or not it were pull from the cache.\n",
      "\n",
      "     .. note:: some ORM functions related to unit-of-work persistence as well\n",
      "        as some attribute loading strategies will make use of individual\n",
      "        per-mapper caches outside of the main cache.\n",
      "\n",
      "\n",
      "     .. seealso::\n",
      "\n",
      "        :ref:`sql_caching`\n",
      "\n",
      "     .. versionadded:: 1.4\n",
      "\n",
      "    :param use_insertmanyvalues: True by default, use the \"insertmanyvalues\"\n",
      "     execution style for INSERT..RETURNING statements by default.\n",
      "\n",
      "     .. versionadded:: 2.0\n",
      "\n",
      "     .. seealso::\n",
      "\n",
      "        :ref:`engine_insertmanyvalues`\n",
      "\n"
     ]
    }
   ],
   "source": [
    "help(create_engine)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Connection Successed to mysql\n"
     ]
    }
   ],
   "source": [
    "#mysql connection\n",
    "# \"mysql+pymysql://user:password@localhost:3306/db_name\"\n",
    "engine_mysql = create_engine(\"mysql+pymysql://root@localhost:3306/walmart_db\")\n",
    "\n",
    "try:\n",
    "    engine_mysql\n",
    "    print(\"Connection Successed to mysql\")\n",
    "except:\n",
    "    print(\"Unable to connect\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "9969"
      ]
     },
     "execution_count": 44,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(9969, 12)"
      ]
     },
     "execution_count": 45,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Connection Successed to PSQL\n"
     ]
    }
   ],
   "source": [
    "#psql connection\n",
    "# \"mysql+pymysql://user:password@localhost:3306/db_name\"\n",
    "engine_psql = create_engine(\"postgresql+psycopg2://postgres:x0000@localhost:5432/walmart_db\")\n",
    "\n",
    "try:\n",
    "    engine_psql\n",
    "    print(\"Connection Successed to PSQL\")\n",
    "except:\n",
    "    print(\"Unable to connect\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "969"
      ]
     },
     "execution_count": 113,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.to_sql(name='walmart', con=engine_psql, if_exists='replace', index=False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {},
   "outputs": [],
   "source": [
    "df.to_csv('walmart_clean_data.csv', index=False)"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "my_env1",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.12.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}